@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

body{
    /* background-color: #f4fafe; */
    background-color: white;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto 820px auto;
}

.container{
    grid-column: 2 / span 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    font-size: 14px;
}

.left {
    background-color: #e3f2fd;
    padding: 10px;
    display: grid;
    grid-template-rows: 30% 30% 12% 28%;
}

.leftdiv, .rightdiv{
    display: grid;
    align-items: center;
}

.name {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-rows: 20% 80%;
}

.links {
    width: 90%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    align-self: center;
    justify-self: center;
}

.kelly {
    width: 100%;
    height: 100%;
    text-align: start;
    font-size: 42px;
    font-weight: 800;
    display: grid;
}

.contactdiv{
    grid-template-rows: 20% 80%;
}

.edudiv {
    grid-template-rows: 16% 42% 42%;
}

.skilldiv{
    grid-template-rows: 10% 22.5% 22.5% 22.5% 22.5%;
}

.education {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contact {
    padding: 5px;
    display: grid;
    height: 80%;
    grid-template-rows: 50% 50%;
    font-size: 14px;
    align-items: center;
}

.links > a{
    text-decoration: none;
    color: black;
}

.linkedin, .github, .website {
    justify-self: center;
}

.edu1 {
    font-weight: 700;
}

.edu2 {
    font-style: italic;
}

.edu4 {
    font-weight: 600;
    color: #1565c0;
}
.right {
    height: 90%;
    align-self: center;
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-rows: 15% 50% 35%;
}

.section_title{
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    color: #0d47a1;
}

.skill_header {
    font-weight: 600;
}

.skill{
    display: inline-block;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 25px;
    background-color: #1565c0;
    width: 80px;
    height: 25px;
    border-radius: 10px;
}

.currentskill {
    background-color: #3c8dea;
}

.skill_section{
    height: 100%;
    display: grid;
    grid-template-rows: 40% 60%;
}

.project{
    display: grid;
    height: 90%;
}

.title{
    font-weight: 700;
    font-size: 15px;
}

.title > a {
    text-decoration: none;
}

.group-project {
    display: inline-block;
    font-size: 14px;
    background-color: #1565c0;
    color: white;
    width: 50px;
    text-align: center;
    border-radius: 7px;
    height: 20px;
    line-height: 20px;
}

.third {
    font-style: italic;
    font-weight: 600;
    background-color: #e3f2fd;
}

.work{
    display: grid;
}

.icon{
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.icons {
    width: 30px;
    height: 30px;
}

.contact-icon {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
}

.section_projects {
    align-self: end;
} 

.tech-stack{
    font-style: italic;
}

.personal-stmt {
    border-bottom: 2px solid #D3D3D3;
}

.statement {
    height: 90%;
    text-align: justify;
}

.section_work {
    align-self: end;
}