@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

body{
    background-color: #f4fafe;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto 563px auto;
}

.container{
    grid-column: 2 / span 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    font-size: 11px;
}

.left {
    background-color: #e3f2fd;
    padding: 10px;
    display: grid;
    grid-template-rows: 25% 25% 20% 30%;
}

.leftdiv, .rightdiv{
    display: grid;
    align-items: center;
}

.name {
    width: 100%;
    text-align: end;
    /* background- /color: white; */
}

.contactdiv{
    grid-template-rows: 20% 80%;
}

.edudiv {
    grid-template-rows: 10% 45% 45%;
}

.skilldiv{
    grid-template-rows: 10% 30% 30% 30%;
}

.education {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* grid-template-rows: 30% 20% 30% 20%; */
}

.contact {
    padding: 5px;
    display: grid;
    height: 100%;
    grid-template-rows: 25% 25% 50%;
    grid-template-columns: 33% 34% 33%;
    font-size: 11px;
    align-items: center;
}

.contact > a{
    text-decoration: none;
    color: black;
}

.phone {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.email {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
}

.linkedin{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.linkedin, .github, .website {
    justify-self: center;
}

.edu1 {
    font-weight: 700;
}

.edu2 {
    font-style: italic;
}

.edu4 {
    font-weight: 600;
    color: #1565c0;
}
.right {
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.section_title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color: #0d47a1;
}

.name{
    font-size: 42px;
    font-weight: 800;
}

.skill_header {
    font-weight: 600;
}

.skill{
    display: inline-block;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 25px;
    background-color: #1565c0;
    width: 80px;
    height: 25px;
    border-radius: 10px;
}

.skill_section{
    height: 100%;
    display: grid;
    grid-template-rows: 40% 60%;
}

.project{
    display: grid;
}

.title{
    font-weight: 700;
    font-size: 12px;
}

.title2{
    font-style: italic;
}

.work{
    display: grid;
}

.icon{
    width: 18px;
    height: 18px;
}

.icons {
    width: 30px;
    height: 30px;
}

.contact-icon {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
}